
* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  background-color: #f1f1f1;
  width: 100%;
}

main {
  min-height: 100%;
  overflow: auto;
  padding-bottom: 100px;
  width: 100%;
}

footer {
  height: 100px;
  position: relative;
  margin-top: -129px;
  clear: both;
}

.footer-content {
  color: orange;
  background-color: black;
  display: flex;
  border-top: 5px solid orange;
  flex-wrap: wrap;
}

.center {
  text-align: center;
}

.head {
  background-color: black;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 15px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 5px;
  border-bottom: 5px solid white;
  max-height: 100px;
  width: 100%;
  margin-top: 0px;
  padding-top: 0px;
}

.img {
  float: center;
  max-width: 410px;
  min-height: 110px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form0 {
  margin: 20px;
}

.card-custom {
  margin: 20px;
  background-color: orange;
  border: 5px double white;
  width: 40%;
  margin-left: 30%;
  margin-top: 100px;
  margin-bottom: 100px;
}

#btn0 {
  justify-content: center;
  margin-top: 15px;
}

.link-white {
  float: right;
  font-weight: bold;
  color: white;
  padding: 10px;
  border: 2px solid white;
  border-radius: 5px;
  text-decoration: none;
  margin: 10px;
}

.link-white:hover{
  color: black;
  background-color: white;
  text-decoration: none;
}

.title-lobster {
  color: #f6800a;
  display: table;
  vertical-align: middle;
  font-size: 55px;
  font-family: "Lobster";
  padding: 15px;
}

.field-80 {
  margin-top: 10px;
  margin-left: 10%;
  width: 80%;
}

.field-50 {
  margin-top: 10px;
  margin-left: 25%;
  width: 50%
}

.vis {
  display: none;
}

.warn-feed {
  padding: 5px;
  font-size: 15px;
  border-top: 2px solid red;
  border-bottom: 2px solid red;
  margin-top: 20px;
  margin-bottom: 20px;
}

.warn-feed:hover {
  color: darkred;
}

.top-link {
  margin-top: 10px;
  margin-right: 20px;
}

.errorlist {
  list-style-type: none;
}

.logo {
  float: left;
  max-width: 60px;
  min-height: 30px;
  margin-left: 15px;
  margin-top: 20px;
  margin-right: 10px;
}

.split {
  width: 100%;
  padding: 50px;
}

.notice {
  width: 100%;
  background-color: lightblue;
  margin-top: 10px;
  border-bottom: 10px double;
  border-top: 10px double;
  border-color: white;
  color: #f1f1f1;
}

.header-style {
  border-bottom: 5px solid white;
  background-color: black;
  color: white
}

.card-ul {
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 40px;
  border-bottom: 1px solid lightgrey;
  border-width: 60%;
}

.card-li {
  padding: 5px;
  width: 24%;
  margin: 5px;
  color: black;
  font-size: 20px;
  font-family: "Lobster";
  border: 2px solid #f6800a;
}

.menu-head {
  color: #f6800a;
  font-family: "Lobster";
}

.card-li:hover {
  color: white;
  background-color: #f6800a;
}

.cus-nav {
  border: 5px double white;
  width: 90%;
  justify-content: center;
  margin-left: 5%;
  margin-top: 20px;
}

.white {
  color: white;
  font-family: "Lobster";
  font-size: 25px;
}

.white:hover {
  background-color: white;
  color: #f6800a;
}

@media screen and (max-width: 1250px){
  .card {
    width: 70%;
    margin-left: 15%;
  }
}

@media screen and (max-width: 800px){
  .card {
    width: 80%;
    margin-left: 10%;
  }
}


@media screen and (max-width: 650px){
  .card {
    width: 90%;
    margin-left: 5%;
  }
  .inv {
    display: none;
  }
  .vis {
    display: block;
  }
  .split {
    text-align: center;
  }
}
