{% extends "orders/base.html" %}

{% load static %}

<!-- title -->
{% block title %} 

Cart 

{% endblock %}

{% block body %}

<!-- NavBar -->
<div class="head">
    <div class="row" style="margin-bottom: 20px;">
        <div class="col">
            <img src="{% static 'images/logo.png' %}" class="logo" loading="lazy">
            <h1 class="title-lobster">Pinocchio's Pizza</h1>
        </div>
        <div class="col">
        </div>
        <div class="col" style="margin-top: 10px;">

            <a class="link-white" href="{% url 'home' %}">Home</a>
            <a class="link-white" href="{% url '_logout' %}">LogOut</a>

        </div>
    </div>

<!-- Content -->

<div class="row order-strip box-shadow">
    <div class="col">
        &nbsp Order Pizza
    </div>

    <div class="col">
    </div>

    <div class="col">
        <a href="#" title="Click to add pizza to your cart" class="add-button">
            &#xFF0B Add Item 
        </a>
    </div>
</div>

<form action="#" class="card" method="post">
    {% csrf_token %}

</form>

<div class="row order-strip box-shadow">
    <div class="col">
        &nbsp Order Pizza
    </div>

    <div class="col">
    </div>

    <div class="col">
        <a href="#" title="Click to add pizza to your cart" class="add-button">
            &#xFF0B Add Item 
        </a>
    </div>
</div>

<form action="#" class="card" method="post">
    {% csrf_token %}

</form>

<div class="row order-strip box-shadow">
    <div class="col">
        &nbsp Order Pizza
    </div>

    <div class="col">
    </div>

    <div class="col">
        <a href="#" title="Click to add pizza to your cart" class="add-button">
            &#xFF0B Add Item 
        </a>
    </div>
</div>

<form action="#" class="card" method="post">
    {% csrf_token %}

</form>

<div class="card cart-container box-shadow">
    <div class="card-header bold-30">

        {{ request.user }}'s Cart

    </div>
</div>

{% endblock %}