{% extends "orders/base.html" %}

{% load static %}

<!-- title -->
{% block title %}

Pinocchio's Pizza

{% endblock %}

{% block body %}

<!-- NavBar -->
<main class="nav-wrapper">
    <nav class="res-nav box-shadow">
        <div class="res-logo">
            <img src="{% static 'images/logo.png' %}" class="res-image" loading="lazy">
            <h4>Pinocchio's</h4>
        </div>
        <ul class="res-links">
            <li>
                <div class="username">{{ request.user }}</div>
            </li>
            <li>
                <a class="link-orange" href="{% url 'home' %}">Home</a>
            </li>
            <li>
                <a class="link-orange" href="{% url 'contact_us' %}">Contact-Us</a>
            </li>
            <li>
                <a class="link-orange" href="{% url '_logout' %}">LogOut</a>
            </li>
        </ul>
        <div class="res-icon">
            <div class="item1"></div>
            <div class="item2"></div>
            <div class="item3"></div>
        </div>
    </nav>
    <script src="{% static 'orders/nav.js' %}"></script>
</main>

<!-- content -->
<div class="style-card top-margin" style="margin-bottom: 100px;">
    <div class="card border-dark bg-light fira-code">
        <div class="card-header border-dark center bold-30 receipt-title">
            Your Receipt
        </div>
        <div class="card-body border-dark center justify-content-center receipt-table">
            <table class="receipt-table">
                <tr class="receipt-head">
                    <th class="float-left">
                        <h5>Item</h5>
                    </th>
                    <th>
                        <h5 class="center">Item Qty</h5>
                    </th>
                    <th class="float-right">
                        <h5>Price</h5>
                    </th>
                </tr>
                {% for item in receipt %}
                <tr class="receipt-row">
                    <th class="float-left width-40">
                        {{ item.item }}
                    </th>
                    <th class="center">
                        {{ item.qty }}
                    </th>
                    <th class="center" style="text-align: right;">
                        ${{ item.price }}
                    </th>
                </tr>
                {% endfor %}
                <tr class="receipt-row">
                    <th class="float-left">HST (+8%): </th>
                    <th></th>
                    <th class="float-right">+ ${{ interest }}</th>
                </tr>
            </table>
        </div>
        <div class="card-footer border-dark">
            <div class="float-right">
            Total Purchase: <strong>${{ payment }}</strong>
            </div>
        </div>
    </div>

    <div class="center">
        <div class="card-body" id="paypal-button-container"></div>
    </div>

    <div class="center justify-content-center display-none bold-30"
        id="payment-message" style="margin-top: 40px;">
        <h4 class="center lobster">Thank You for Shopping with Us</h4>
        <h5 class="center lobster">Hope You Have a Wonderful Meal!</h5>
    </div>

    <div class="center display-none" id="after-payment">
        <a href="{% url 'home' %}" class="btn btn-primary btn-block cus-btn">Go Back Home</a>
        <a href="{% url 'cart' %}" class="btn btn-info btn-block cus-btn">Order More From Us</a>
    </div>
</div>

<!-- PayPal Scripts -->
<script src="https://www.paypal.com/sdk/js?client-id=AWGcdm29xVfK6wsp_liuBhbekjdjMQFiOdvKZ9gPJAB5J2_Lo1BFv6Ck71BaxUJIwV7EP4WR-wTVoCcZ&currency=USD&disable-funding=credit"></script>

<script>

    let items_id = []

    {% for item in receipt %}
    items_id.push({{ item.id }})
    {% endfor %}

    console.log(items_id)

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');

    var total = {{ payment }}
    var productID =

    completeOrder = () => {
        var url = "{% url 'complete' %}"

        fetch(url, {
            method: 'POST',
            headers: {
                'Content_type': 'application/json',
                'X-CSRFToken': csrftoken,
            },
            body: JSON.stringify({'Items_Ids': items_id})
        })

        // hide the payment links after payment
        const payment = document.querySelector('#paypal-button-container')
        payment.style.display = 'none'

        // display redirect urls after payment
        const element = document.querySelector('#after-payment')
        element.style.display = 'inline-flex'
        element.style.width = '100%'

        // display 'thank you' messages after the payment
        const message = document.querySelector('#payment-message')
        message.style.display = 'block'
    }

    paypal.Buttons({

        style: {
            color: 'blue',
            shape: 'rect',
            label: 'pay',
            height: 40
        },

        // Set up the transaction
        createOrder: function(data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: total,
                    }
                }]
            });
        },

        // Finalize the transaction
        onApprove: function(data, actions) {
            return actions.order.capture().then(function(details) {
                // Show a success message to the buyer
                completeOrder()
                alert('Transaction completed by ' + details.payer.name.given_name + '!');
            });
        }


    }).render('#paypal-button-container');
</script>

{% endblock %}
