{% extends "orders/base.html" %}

{% load static %}

<!-- title -->
{% block title %}

Contact

{% endblock %}

<!-- NavBar -->
{% block nav %}
  {% if request.user.is_authenticated %}
  <li>
    <div class="username">{{ request.user|truncatechars:6 }}</div>
  </li>
  {% endif %}

  <li>
    <a class="link-orange" href="{% url 'home' %}">Home</a>
  </li>

  {% if not request.user.is_authenticated %}
  <li>
    <a class="link-orange" href="{% url 'login_view' %}">Login</a>
  </li>
  <li>
    <a class="link-orange" href="{% url 'signup_view' %}">SignUp</a>
  </li>
  {% endif %}

  {% if request.user.is_authenticated %}
  <li>
    <a class="link-orange" href="{% url '_logout' %}">LogOut</a>
  </li>
  {% endif %}
{% endblock %}

{% block body %}

<!-- Content -->
<div class="icon-container">
    <img src="{% static 'images/telephone.svg' %}" loading="lazy" class="contact-icon">
</div>

<div class="card contact-container border-warning box-shadow">
    <div class="card-header border-warning bg-warning contact-title">Contact Us</div>
    <div class="card-body">
        <div class="con-text">
            ** We will help you in any way we can ** <br/>
            ** Call the Phone number to order pickup in-store or to pay at the door **
        </div>
        <hr/>
        <ul class="con-info">
            <li>
                <h3 class="bold-30">Address</h3>
                <div class="address-content">
                    1234 Pizza street <br/>
                    Toronto, ON, Canada <br/>
                    A2B 1T9
                </div>
            </li>
            <hr/>
            <li class="phoneNum-container">
              <div>
                <h3 class="bold-30">Phone</h3>
                <div class="phoneNum">+1 (123)-456-7890</div>
              </div>
              <div>
                <h3 class="bold-30">Cutomer Service</h3>
                <div class="phoneNum">+1 (0987)-654-4321</div>
              </div>
            </li>
        </ul>
    </div>
</div>

{% endblock %}
