{% extends "orders/base.html" %} {% load static %}

<!-- title -->
{% block title %} Pinocchio's Pizza {% endblock %} {% block body %}

<script>
    var user = '{{ request.user }}';
</script>

<!-- NavBar -->
<div class="head">
    <div class="row" style="margin-bottom: 20px;">
        <div class="col">
            <img src="{% static 'images/logo.png' %}" class="logo" loading="lazy">
            <h1 class="title-lobster">Pinocchio's Pizza</h1>
        </div>
        <div class="col">
        </div>
        <div class="col top-link">

            {% if not request.user.is_authenticated %}
            <a class="link-white" href="{% url 'login_view' %}">logIn</a>
            <a class="link-white" href="{% url 'signup_view' %}">SignUp</a> {% endif %} {% if request.user.is_authenticated %}
            <a class="link-white" href="{% url '_logout' %}">logOut</a> {% endif %}

        </div>
    </div>
</div>

<!-- Content -->
<nav class="navbar navbar-light bg-warning cus-nav">

    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link white" href="#pizzas">Pizza</a>
        </li>
        <li class="nav-item">
            <a class="nav-link white" href="#pizzaToppings">Pizza Topppings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link white" href="#subs">Subs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link white" href="#pastas">Pasta</a>
        </li>
        <li class="nav-item">
            <a class="nav-link white" href="#salads">Salad</a>
        </li>
        <li class="nav-item">
            <a class="nav-link white" href="#DPs">Dinner Platters</a>
        </li>
    </ul>

</nav>
<div style="text-align: center; width: 100%; margin-top: 20px; margin-bottom: 40px;">
    <div class="badge badge-dark" style="justify-content: center; font-size: 40px;">{{ msg }}</div>

    <div class="card-ul">
        <table class="table-cus">
            <h1 class="center menu-head" id="pizzas"> Pizza </h1>
            <tr>
                <th class="table-head">
                    <h4>Type</h4>
                </th>
                <th class="table-head">
                    <h4>Pizza</h4>
                </th>
                <th class="table-head">
                    <h4>Small</h4>
                </th>
                <th class="table-head end">
                    <h4>Large</h4>
                </th>
            </tr>
            {% for pizza in pizzas %}
            <tr title="{{ pizza }}" data-item="{{ pizza.id }}" data-type="Pizza" class="center hover-style cart-add">
                <td class="card-li"> {{ pizza.type }}</td>
                <td class="card-li">{{ pizza.pizza }}</td>
                <td class="card-li">{{ pizza.small }}</td>
                <td class="card-li end">${{ pizza.large }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="card-ul">
        <table class="table-cus">
            <h1 class="center menu-head" id="pizzaToppings"> Pizza Toppings </h1>
            <tr>
                <th class="table-head">
                    <h4>Toppings</h4>
                </th>
            </tr>
            {% for top in toppings %}
            <tr title="{{ top }}" data-item="{{ top.id }}" data-type="Topping" class="center hover-style cart-add">
                <td class="card-li end">{{ top }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="card-ul">
        <table class="table-cus">
            <h1 class="center menu-head" id="subs"> Subs </h1>
            <tr>
                <th class="table-head">
                    <h4>Sub</h4>
                </th>
                <th class="table-head">
                    <h4>Small</h4>
                </th>
                <th class="table-head end">
                    <h4>Large</h4>
                </th>
            </tr>
            {% for sub in subs %}
            <tr title="{{ sub }}" data-item="{{ sub.id }}" data-type="Sub" class="center hover-style cart-add">
                <td class="card-li">{{ sub.sub }}</td>
                <td class="card-li">{{ sub.small }}</td>
                <td class="card-li end">${{ sub.large }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="card-ul">
        <table class="table-cus">
            <h1 class="center menu-head" id="pastas"> Pasta </h1>
            <tr>
                <th class="table-head">
                    <h4>Pasta</h4>
                </th>
                <th class="table-head end">
                    <h4>Cost</h4>
                </th>
            </tr>
            {% for pasta in pastas %}
            <tr title="{{ pasta }}" data-item="{{ pasta.id }}" data-type="Pasta" class="center hover-style cart-add">
                <td class="card-li">{{ pasta.pasta }}</td>
                <td class="card-li end">${{ pasta.cost }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="card-ul">
        <table class="table-cus">
            <h1 class="center menu-head" id="salads"> Salad </h1>
            <tr>
                <th class="table-head">
                    <h4>Salad</h4>
                </th>
                <th class="table-head end">
                    <h4>Cost</h4>
                </th>
            </tr>
            {% for salad in salads %}
            <tr title="{{ salad }}" data-item={{salad.id}} data-type="Salad" class="center hover-style cart-add">
                <td class="card-li">{{ salad.salad }}</td>
                <td class="card-li end">${{ salad.cost }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="card-ul">
        <table class="table-cus">
            <h1 class="center menu-head" id="DPs"> Dinner Platters </h1>
            <tr>
                <th class="table-head">
                    <h4>Platters</h4>
                </th>
                <th class="table-head">
                    <h4>Small</h4>
                </th>
                <th class="table-head end">
                    <h4>Large</h4>
                </th>
            </tr>
            {% for DP in dinner_platters %}
            <tr title="{{ DP }}" data-item="{{ DP.id }}" data-type="DinnerPlatter" class="center hover-style cart-add">
                <td class="card-li">{{ DP.platter }}</td>
                <td class="card-li">{{ DP.small }}</td>
                <td class="card-li end">${{ DP.large }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

</div>

{% if request.user.is_authenticated %}

<div class="right" style="display: flex;">

    <button title="Click to start your order" type="button" class="btn btn-light black-bor" id="order">
    <img src="{% static 'images/Shopping_Cart.png' %}" class="order-btn">
  </button>

    <div class="card" id="order-list">

        <div class="card-header" style="height: 60px; margin: 0;">
            <img src="{% static 'images/Shopping_Cart.png' %}" class="order-btn float-left">
            <button class="cross btn btn-light" style="top: 0; float: right; color: red; margin: 0; border: 2px solid red; font-weight: bold;" title="Close"> ⤫ </button>
        </div>
        <div class="text-muted" style="width: 80%; margin-left: 10%; margin-top: 10px;">Click on the menu items you would like to order</div>
        <div class="dropdown-divider"></div>

        <ul class="order-items">
            <!-- Order Items -->
        </ul>

    </div>

</div>


<script src="{% static 'orders/cart.js' %}"></script>

{% endif %} {% endblock %}