<!DOCTYPE html>
<html>
  <head>

    <title>My Webpage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">

<nav class="fixed-top">
    <ul class="nav justify-content-center">
    <div class="btn-group" role="group" aria-label="Basic example">
      <li class="nav-item">
        <a class="nav-link active" href="index.html"><button type="button" class="btn btn-info" disabled>MY PROFILE</button></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="index2.html"><button type="button" class="btn btn-primary">MY HOBBIES</button></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="index3.html"><button type="button" class="btn btn-info">MY ACTIVITIES</button></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="index4.html"><button type="button" class="btn btn-primary">MY EDUCATION</button></a>
      </li>
    </div>
    </ul>
  </nav>
  </head>
  <body>
    <h1 class="fit">Aadhieaswar Senthil Kumar</h1>
    <div>
      <img class = "go" src="DSC_0448.JPG">
    </div>
<p>content</p>

<p>content</p>
  </body>
</html>
