{% extends "orders/base.html" %}

{% block title %}

Pinocchio's Pizza

{% endblock %}

{% block body %}

<!-- NavBar -->
<div class="head" style="max-height: 100px; width: 100%; margin-top: 0px; padding-top: 0px;">
  <div class="row" style="margin-bottom: 20px;">
    <div class="col">
<img src="https://docs.google.com/drawings/d/e/2PACX-1vTUIFx58u7kcuCGWvrGGyT_8SJIA7ExAATe1kkAp6UcWRr0HsTGEe4ww--jS8yhoE3siScCT0nbrPO_/pub?w=1085&h=1021" style="float: left; max-width: 60px; min-height: 30px; margin-left: 15px; margin-top: 20px; margin-right: 10px;">
<h1 class="title-lobster">Pinocchio's Pizza</h1>
</div>
</div>
</div>

<!-- Content -->
<div class="card">
  <div class="card-header center" style="border-bottom: 5px solid white; background-color: black; color: white">
    <h4>LogIn to Pinoccio's Pizza!</h4>
  </div>
  <form class="form0" action="{% url 'login' %}" method="post">
  <div class="row justify-content-between" style="margin-top: 20px; margin-left: 33%">
    <div class="col-6">
    <input type="text" name="Username" class="form-control" placeholder="Username">
  </div>
  </div>
  <div class="row justify-content-between" style="margin-top: 5px; margin-left: 33%;">
    <div class="col-6">
    <input type="text" name="Password" class="form-control" placeholder="Password">
  </div>
  </div>
  <small class="form-text center" style="color: white;">Login to Pinocchio's Pizza to Order Pizza from us Online</small>
  <small class="form-text center" style="color: white;">Need an account?&nbsp<a class="badge badge-success" href="{% url 'login' %}" style="font-size: 12px;">SignUp</a> </small>
  <div id="btn0" class="row">
  <button type="submit" class="btn btn-primary">Login</button>
</div>
</form>

{% endblock %}
