{% extends "orders/base.html" %}

{% load static %}

<!-- title -->
{% block title %}

Pinocchio's Pizza

{% endblock %}

{% block body %}

<!-- NavBar -->
<div class="head" style="max-height: 100px; width: 100%; margin-top: 0px; padding-top: 0px;">
  <div class="row" style="margin-bottom: 20px;">
    <div class="col">
<img src="{% static 'images/logo.png' %}" style="float: left; max-width: 60px; min-height: 30px; margin-left: 15px; margin-top: 20px; margin-right: 10px;" lading="lazy">
<h1 class="title-lobster">Pinocchio's Pizza</h1>
</div>
</div>
</div>

<!-- Content -->
<div class="card">
  <div class="card-header center" style="border-bottom: 5px solid white; background-color: black; color: white">
    <h4>LogIn to Pinoccio's Pizza!</h4>
  </div>
  <form class="form0" action="{% url 'login_view' %}" method="post" autocomplete="off">
    {% csrf_token %}
  <div class="row field-50">
    <div class="col">
    <input type="text" name="username" class="form-control" placeholder="Username">
  </div>
  </div>
  <div class="row field-50">
    <div class="col">
    <input type="password" name="password" class="form-control" placeholder="Password">
  </div>
  </div>
  <div id="btn0" class="row">
  <button type="submit" class="btn btn-primary">Login</button>
</div>
{% if messages %}
  {% for message in messages %}
<div class="center invalid-feedback warn-feed" style="display: block; font-weight: bold;">{{ message }}</div>
  {% endfor %}
{% endif %}
<small class="form-text center" style="color: white;">Login to Pinocchio's Pizza to Order Pizza from us Online</small>
<small class="form-text center" style="color: white;">Need an account?&nbsp<a class="badge badge-success" href="{% url 'signup_view' %}" style="font-size: 12px;">SignUp</a> </small>
</form>

{% endblock %}
