{% extends "orders/base.html" %}

{% load static %}

<!-- title -->
{% block title %}

{{ title }}

{% endblock %}

{% block body %}

<!-- NavBar -->
<div class="head">
  <div class="row" style="margin-bottom: 20px;">
    <div class="col">
<img src="{% static 'images/logo.png' %}" class="logo" loading="lazy">
<h1 class="title-lobster">Pinocchio's Pizza</h1>
</div>
<div class="col">
</div>
<div class="col" style="margin-top: 10px;">

<a class="link-white" href="{% url 'login_view' %}">logIn</a>
<a class="link-white" href="{% url 'signup_view' %}">SignUp</a>
<a class="link-white" href="{% url 'home' %}">Home</a>

</div>
</div>

<!-- Content -->
<h1 class="center notice">
<div style="padding: 10px;">{{ note }}</div>
</h1>

{% endblock %}
