{% extends "orders/base.html" %}

{% load static %}

<!-- title -->
{% block title %}

{{ title }}

{% endblock %}

{% block body %}

<!-- NavBar -->
<div class="head" style="max-height: 100px; width: 100%; margin-top: 0px; padding-top: 0px;">
  <div class="row" style="margin-bottom: 20px;">
    <div class="col">
<img src="{% static 'images/logo.png' %}" style="float: left; max-width: 60px; min-height: 30px; margin-left: 15px; margin-top: 20px; margin-right: 10px;" loading="lazy">
<h1 class="title-lobster">Pinocchio's Pizza</h1>
</div>
<div class="col">
</div>
<div class="col" style="margin-top: 10px;">

<a class="link-white" href="{% url 'login_view' %}">logIn</a>
<a class="link-white" href="{% url 'signup_view' %}">SignUp</a>

</div>
</div>

<!-- Content -->
<h1 class="center" style="width: 100%; background-color: lightblue; margin-top: 10px; border-bottom: 10px double; border-top: 10px double; border-color: white; color: #f1f1f1;">
<div style="padding: 10px;">{{ note }}</div>
</h1>

{% endblock %}
