{% extends "orders/base.html" %}

{% load static %}

<!-- title -->
{% block title %}

Pinocchio's Pizza

{% endblock %}

{% block body %}

<!-- NavBar -->
<div class="head" style="max-height: 100px; width: 100%; margin-top: 0px; padding-top: 0px;">
  <div class="row" style="margin-bottom: 20px;">
    <div class="col">
<img src="{% static 'images/logo.png' %}" style="float: left; max-width: 60px; min-height: 30px; margin-left: 15px; margin-top: 20px; margin-right: 10px;" loading="lazy">
<h1 class="title-lobster">Pinocchio's Pizza</h1>
</div>
</div>
</div>

<!-- Content -->
<div class="card">
  <div class="card-header center" style="border-bottom: 5px solid white; background-color: black; color: white">
    <h4>Signup for a Pinoccio's Pizza Account!</h4>
  </div>
<form class="form0" action="{% url 'signup' %}" method="post">
  <div class="row">
    <div class="col">
  <input type="text" class="form-control" name="first-name" placeholder="First Name">
</div>
<div class="col">
  <input type="text" class="form-control" name="last-name" placeholder="Last Name">
</div>
</div>
<div class="row" style="margin-top: 10px;">
  <div class="col">
  <input type="text" class="form-control" name="city" placeholder="City">
</div>
<div class="col">
  <input type="text" class="form-control" name="State" placeholder="State">
</div>
</div>
<div class="row justify-content-between" style="margin-top: 20px; margin-left: 33%">
  <div class="col-6">
  <input type="text" name="Username" class="form-control" placeholder="Username">
</div>
</div>
<div class="row justify-content-between" style="margin-top: 5px; margin-left: 33%;">
  <div class="col-6">
  <input type="password" name="Password" class="form-control" placeholder="Password">
</div>
</div>
<small class="form-text center" style="color: white;">SignUp with Pinocchio's Pizza to Order Pizza from us Online</small>
<small class="form-text center" style="color: white;">Already have an account?&nbsp<a class="badge badge-success" href="{% url 'login_view' %}" style="font-size: 12px;">LogIn</a> </small>
<div id="btn0" class="row">
<button type="submit" class="btn btn-primary">Create Account</button>
</div>
</form>
</div>

{% endblock %}
