{% extends "orders/base.html" %}

{% load static %}

<!-- title -->
{% block title %}

Pinocchio's Pizza

{% endblock %}

{% block body %}

<!-- NavBar -->
<div class="head">
  <div class="row" style="margin-bottom: 20px;">
    <div class="col">
<img src="{% static 'images/logo.png' %}" class="logo" loading="lazy">
<h1 class="title-lobster">Pinocchio's Pizza</h1>
</div>
<div class="col">
</div>
<div class="col top-link">
<a class="link-white" href="{% url 'home' %}">Home</a>
</div>
</div>
</div>

<!-- Content -->
<div class="card">
  <div class="card-header center header-style">
    <h4>Signup for a Pinoccio's Pizza Account!</h4>
  </div>
<form class="form0" action="{% url 'signup_view' %}" method="post">
  {% csrf_token %}
  <div class="row">
    <div class="col">
{{ form.first_name }}
</div>
<div class="col">
{{ form.last_name }}
</div>
</div>
<div class="row field-80">
  <div class="col">
  {{ form.email }}
</div>
</div>
<div class="row field-50">
  <div class="col">
{{ form.username }}
</div>
</div>
<div class="row field-50">
  <div class="col">
{{ form.password1 }}
</div>
</div>
<div class="row field-50">
  <div class="col">
{{ form.password2 }}
</div>
</div>
<div id="btn0" class="row">
<button type="submit" class="btn btn-primary">Create Account</button>
</div>
{% if form.errors %}
<div class="center invalid-feedback warn-feed" style="display: block; font-weight: bold; padding-top: 20px;">
    {{ form.password2.errors }}
    {{ form.password1.errors }}
    {{ form.username.errors }}
    {{ form.email.errors }}
    {{ form.last_name.errors }}
    {{ form.first_name.errors }}
</div>
{% endif %}
<small class="form-text center" style="color: white;">SignUp with Pinocchio's Pizza to Order Pizza from us Online</small>
<small class="form-text center" style="color: white;">Already have an account?&nbsp<a class="badge badge-success" href="{% url 'login_view' %}" style="font-size: 12px;">LogIn</a> </small>
</form>
</div>

<script>

  var fields = document.getElementsByTagName('input');
  fields[1].placeholder = 'First Name';
  fields[2].placeholder = 'Last Name';
  fields[3].placeholder = 'Email';
  fields[4].placeholder = 'Enter Username';
  fields[5].placeholder = 'Enter Password';
  fields[6].placeholder = 'Re-enter Password';

  for (var field in fields){
    fields[field].className += 'form-control';
  }

</script>

{% endblock %}
